@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,500,600,900');

$text_light: #ffffff;
$text_dark: #363636;
$colored_bg: #7dcfdb;
$colored_btn: #da3582;
$text_description: #828282;
$floating_number_color: #e46da5;

html, body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', serif;
  color: $text_dark;
}

.wrapper{
  padding: 0 20px;
}

.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar_promoCode{
  background-color: $colored_bg;
  color: $text_light;
  text-align: center;
  padding: 5px 20px;
  font-size: 14px;
}

.header{
  background-color: #fbf9f8;
  padding: 20px 0 40px 0;
  &--inner{
    text-align: center;
    display: flex;
    align-items: center;
    @media only screen and (max-width: 768px) {
      flex-direction: column;
    }
  }
  &--left{
    width: 50%;
    @media only screen and (max-width: 768px) {
      width: 100%;
    }
    .welcome_text{
      text-transform: uppercase;
      letter-spacing: 5px;
      margin-bottom: 10px;
      font-size: 12px;
    }
    h2{
      font-weight: 900;
      margin: 5px 0 0 0;
      font-size: 28px;
    }
    h3{
      margin: 5px 0 0 0;
      font-size: 14px;
    }
    .spacer{
      width: 50px;
      height: 5px;
      margin: 10px auto;
      background-color: $colored_btn;
    }
    p{
      max-width: 60%;
      margin: 10px auto;
    }
  }
  &--right{
    width: 50%;
    @media only screen and (max-width: 768px) {
      margin-top: 20px;
      width: 100%;
    }
  }
}

.two_columns{
  margin: 20px 0;
  display: flex;
  align-items: center;
  @media only screen and (max-width: 768px) {
    flex-direction: column !important;
  }
  &--reverse{
    flex-direction: row-reverse;
  }
  .column{
    width: 50%;
    &.column_image{
      text-align: center;
      img{
        width: 270px;
        height: 270px;
        object-fit: cover;
        @media only screen and (max-width: 768px) {
          max-width: 270px;
          max-height: 270px;
          width: 100%;
          height: 100%;
          object-fit: initial;
        }
      }
    }
    &.column_text{
      text-align: center;
      max-width: 350px;
      position: relative;
      .number{
        color: $floating_number_color;
        font-size: 130px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        display: flex;
        align-items: center;
        @media only screen and (max-width: 768px) {
          text-align: center;
          position: relative;
          display: block;
          left: 0 !important;
        }
      }
      h2{
        font-size: 23px;
        font-weight: 900;
        margin-bottom: 0;
      }
      p{
        margin-top: 0;
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
      }
    }
  }
}

.title{
  text-align: center;
  margin-top: 60px;
  h2{
    background-color: $colored_bg;
    display: inline-block;
    padding: 5px 20px;
    font-size: 22px;
    font-weight: 900;
  }
}

.action{
  text-align: center;
  margin-bottom: 20px;
}

.btn{
  background-color: $colored_btn;
  height: 70px;
  line-height: 70px;
  padding: 0 50px;
  display: inline-block;
  text-decoration: none;
  color: $text_light;
  font-weight: 900;
  font-size: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  &:hover{
    background-color: lighten($colored_btn, 10%);
  }
  &--small{
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    font-weight: 600;
    font-size: 20px;
  }
}

p{
  &.description{
    margin: 5px 0 0 0;
    color: $text_description;
    font-size: 10px;
    font-weight: 500;
  }
}

.three_cards{
  display: flex;
  margin: 20px 0;
  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
  .card{
    background-color: $colored_bg;
    margin: 0 10px;
    text-align: center;
    color: $text_light;
    &:first-child, &:last-child{
      width: 30%;
    }
    &:nth-child(2){
      width: 40%;
    }
    &--inner{
      padding: 40px 20px;
    }
    @media only screen and (max-width: 768px) {
      margin: 10px 0;
      &:first-child, &:last-child{
        width: 100%;
      }
      &:nth-child(2){
        width: 100%;
      }
    }
    h2{
      font-weight: 900;
    }
    p{
      font-size: 20px;
      font-weight: 200;
      max-width: 80%;
      margin: auto;
    }
  }
}

.text_desc{
  margin-top: 60px;
  margin-bottom: 20px;
  text-align: center;
  h2{
    font-weight: 900;
    margin: 0;
  }
  p{
    margin: 5px 0 0 0;
    font-weight: 400;
    font-size: 20px;
  }
}

.avatar_section{
  text-align: center;
  img{
    width: 245px;
    height: 245px;
    object-fit: cover;
    @media only screen and (max-width: 768px) {
      max-width: 245px;
      max-height: 245px;
      width: 100%;
      height: 100%;
      object-fit: initial;
    }
  }
}
