<template>
  <div>

    <section class="navbar_promoCode">
      <span>Join Today & Get 50% Off Your First Box use code: <strong>WELCOME50</strong></span>
    </section>

    <section class="header">
      <div class="wrapper">
        <div class="container">
          <div class="header--inner">
            <div class="header--left">
              <div class="welcome_text">Welcome to</div>
              <div><img src="/images/card.png" alt=""></div>
              <h2>Premium Candle Subscription Box</h2>
              <h3>3 New Premium Soy Candles Delivered to Your Door Every Month!</h3>
              <div class="spacer"></div>
              <p>Your Indulgence begins again the following month with 3 new decadent fragrances</p>
              <a href="#" class="btn btn--small">Join the club!</a>
            </div>
            <div class="header--right">
              <img src="/images/product.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="wrapper">
      <div class="container">

        <section class="two_columns">
          <div class="column column_image">
            <img src="/images/avatar1.png" alt="">
          </div>
          <div class="column column_text">
            <div class="number"
                 style="left: 0px;">
              1
            </div>
            <h2>Get Started & Sign Up</h2>
            <p>Choose a subscription, and finish signing up within minutes!</p>
          </div>
        </section>

        <section class="two_columns two_columns--reverse">
          <div class="column column_image">
            <img src="/images/avatar2.png" alt="">
          </div>
          <div class="column column_text">
            <div class="number"
                 style="left: -20px;">
              2
            </div>
            <h2>Receive your first box!</h2>
            <p>Get your first delivery of 3 hand-picked scents by our in-house experts.</p>
          </div>
        </section>

        <section class="two_columns">
          <div class="column column_image">
            <img src="/images/avatar3.png" alt="">
          </div>
          <div class="column column_text">
            <div class="number"
                 style="left: -10px;">
              3
            </div>
            <h2>Keep it mixed up!</h2>
            <p>Receive a delivery of 3 new intoxicating fragrances each month just as you are about to run out of your existing candles</p>
          </div>
        </section>

        <section class="title">
          <h2>Join today and get 50% off your first box*</h2>
        </section>

        <section class="action">
          <a href="#" class="btn">Join the club!</a>
          <p class="description">
            *50% off on 12 month subscriptions
          </p>
        </section>

        <section class="three_cards">
          <div class="card">
            <div class="card--inner">
              <div>
                <img src="/images/gift.png" alt="">
              </div>
              <div>
                <h2>Free Gifts!</h2>
                <p>
                  We like to treat you, enjoy free gifts during your subscription.
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card--inner">
              <div>
                <img src="/images/heart.png" alt="">
              </div>
              <div>
                <h2>Feeding Children Everywhere!</h2>
                <p>
                  $1 proceeds each month to feeding children everywhere
                </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card--inner">
              <div>
                <img src="/images/pigg.png" alt="">
              </div>
              <div>
                <h2>Big Savings!</h2>
                <p>
                  Join today and get $23 in savings each month! Over 35% off!
                </p>
              </div>
            </div>
          </div>
        </section>

        <section class="text_desc">
          <h2>Ready to indulge?</h2>
          <p>Get 3 premium candles delivered to your door each month.</p>
          <p>Start saving, 18$-$23 savings per month <br/>over regular prices candles</p>
        </section>
        
        <section class="avatar_section">
          <img src="/images/avatar.png" alt="">
        </section>

        <section class="text_desc">
          <h2>Starting At 39.95 / Month!</h2>
          <p>No commitment. You can cancel anytime.</p>
        </section>

        <section class="action">
          <a href="#" class="btn">Join the club!</a>
        </section>

      </div>
    </div>

  </div>
</template>
